*{
    box-sizing: border-box;

}

html{
    font-size: 80.5;
    scroll-behavior: smooth;
}


:root {

    --cor-fundo-escuro: #200101;
    --cor-fundo-medio: #410808;
    --cor-fundo-claro: #f0f7f4;
    --cor-primaria: #410808;
    --cor-primaria-escura: #200101;
    --cor-secundaria: #000000;
    --cor-texto-claro: #edfaf3;
    --cor-texto-escuro: #290505;
    --cor-texto-suave: #612d2d;
    --cor-borda: rgb(41, 2, 2);

    --fonte-principal: 'Inter', 'Segoe UI', Arial, sans-serif;
    --fonte-display: 'Bebas Neue', 'Arial Black', sans-serif;

    --espacamento-secao: 1rem;
    --raio-borda: 9px;
    --raio-borda-pequeno: 8px;
    --largura-maxima: 1140px;
}
